/**************************************** Headline Styling ***************************************** */

.headline {
  background-image: url(/assets/images/desktop-background-head-2.jpg);
  filter: grayscale(40%) brightness(80%);
  background-position: center;
  width: 100vw;
  height: 653px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: -15px;
  border-bottom: 3px solid var(--key-color);
}

.headline h1 {
  color: white;
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgb(92, 92, 92);
}

.headline h2 {
  color: white;
  font-size: 5rem;
  font-weight: 300;
  text-shadow: 0px 0px 10px rgb(92, 92, 92);
}

.headline h2 span {
  color: var(--key-color);
  font-weight: 600;
}

/**************************************** About me section Styling ***************************************** */

.about-me {
  padding-top: 60px;
  height: 653px;
}

[alt="my-personal-photo"] {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  border: 3px solid var(--key-color);
}

.about-me figure {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me p {
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .headline h1 {
    color: white;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgb(92, 92, 92);
  }

  .headline h2 {
    color: white;
    font-size: 4.2rem;
    font-weight: 300;
    text-shadow: 0px 0px 10px rgb(92, 92, 92);
  }

  .about-me {
    padding-top: 0;
    height: 800px;
  }
}

@media only screen and (max-width: 540px) {
  .headline {
    height: 655px;
  }

  .headline h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgb(92, 92, 92);
  }

  .headline h2 {
    color: white;
    font-size: 3.4rem;
    font-weight: 300;
    text-shadow: 0px 0px 10px rgb(92, 92, 92);
  }

  .credits {
    padding: 15px;
  }
  .credits p {
    text-align: center;
  }
}
