/****************************************** Menu Styling ***************************************** */
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  font-size: .8em;
  background-color: #222;
  background-image: linear-gradient(25deg, transparent 65%, #5a93454b, transparent 70%), linear-gradient(-25deg, transparent 65%, #5a93454b, transparent 70%);
  background-size: 100px 25px;
  border-bottom: 3px solid var(--key-color);
  box-sizing: content-box;
}

.main-nav-desktop {
  margin-top: 3vh;
  z-index: 1000;
}

.icon-smedia {
  width: 3.2rem;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0);
  margin: 0 1rem 0 1rem;
}

.icon-smedia:hover {
  transform: scale(1.3);
  border: 2px solid var(--key-color);
  transition: 0.3s ease;
}

.nav-ico {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.3rem;
}

.menu-pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

 .menu-pages a {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0px 0px 2px rgb(92, 92, 92);
  color: #f9f9f9;
  text-decoration: none;
  transition: 0.3s ease;
  margin: 2vw;
}

.main-nav-desktop ul li a::after {
  content:"";
  width: 0%;
  height: 3px;
  background-color: var(--key-color);
  position: absolute;
  top: 100%;  bottom: 0%; left: 50%; /*change position of the bottom bar*/
  border-radius: 10%;
  transition: all 500ms ease;
}
.main-nav-desktop ul li a:hover {
  text-decoration: none;
  color: #f9f9f9;
}

.main-nav-desktop ul li a:hover::after {
  left: 0%;
  width: 10%;
}

.main-nav-toggle{
  display: none;
}


/************ Mobile menu ************/

@media only screen and (max-width: 768px) {

  .main-nav-desktop{
    display: none;
  }

  .main-nav-toggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .toggle-icon {
    width: 35px;
    height: auto;
    cursor: pointer;
    margin-left: 10px;
    z-index: 2001;
  }

  .main-nav-mobile{
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    font-size: .8em;
    background-color: #222;
    background-image: linear-gradient(25deg, transparent 65%, #5a93454b, transparent 70%), linear-gradient(-25deg, transparent 65%, #5a93454b, transparent 70%);
    background-size: 100px 25px;
    border-bottom: 3px solid var(--key-color);
    z-index: 2000;
  }
  
  .nav-ico {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .main-nav-mobile .menu-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    list-style-type: none;
  }
  
  .main-nav-mobile .menu-pages a {
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0px 0px 2px rgb(92, 92, 92);
    color: #f9f9f9;
    text-decoration: none;
    transition: 0.3s ease;
    margin: 2vw;
  }
  
  .main-nav-mobile ul li a::after {
    content:"";
    width: 0%;
    height: 3px;
    background-color: var(--key-color);
    position: absolute;
    top: 100%;  bottom: 0%; left: 50%; /*change position of the bottom bar*/
    border-radius: 10%;
    transition: all 500ms ease;
  }
  .main-nav-mobile ul li a:hover {
    text-decoration: none;
    color: #f9f9f9;
  }
  
  .main-nav-mobile ul li a:hover::after {
    left: 0%;
    width: 100%;
  }
  

  /* .Header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--key-gray);
    border-bottom: 2px solid var(--key-color);
    z-index: 1000;
  }

  .main-nav {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-ico{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: .7rem;
  }

  .menu-pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    box-sizing: border-box;
  }

  .menu-pages a {
    font-size: 1.7rem;
  } */
}





