/*Back Button CSS*/

.back-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background: linear-gradient(to bottom, #77b55a 5%, #265a12 100%);
    background-color: #77b55a;
    border-radius: 8px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
  }
  .back-btn:hover {
    background: linear-gradient(to bottom, #265a12 5%, #77b55a 100%);
    background-color: #265a12;
  }
  