.my-online-cv {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
}

.section-title {
  padding: 20px;
}

.content-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 10px 25px 0;
  margin-left: -15px;
}

.content-type > h2 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--key-color);
}

section {
  margin-bottom: 10vh;
}

.experience {
  padding: 2%;
  margin-bottom: 10px;
  background-color: rgb(248, 248, 248);
}

.experience-title > h2 {
  font-weight: 700;
  text-align: center;
}

.experience-title > h3 {
  font-weight: 400;
  text-align: center;
}

.experience-title > img {
  width: 160px;
  height: auto;
  margin: 10px 25% 10px 25%;
}

.experience-body {
  margin-top: 2rem;
}

.experience-body > h3 {
  font-weight: 600;
}

.experience-body > p {
  text-align: justify;
}

.experience .location img {
  height: 4rem;
  width: auto;
}

.skill-set-lang div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/**************************************** Online Cv mobile ***************************************** */

@media only screen and (max-width: 768px) {
  .my-online-cv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

@media only screen and (max-width: 540px) {
  .experience {
    display: flex;
    flex-direction: column;
    margin-left: -15px;
  }

  .experience-title{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .experience-title h2{
    text-align: center;
  }

  .experience-body h3{
    text-align: center;
  }
  .skill-set-lang{
    width: 370px;
    margin-left: -30px !important;
    padding-bottom: 20px;
  }

  .skill-set-lang p {
    padding: 0 0 10px 0;
  }
}
