/********************************** Root Styling *************************************** */
:root {
  font-size: 10px;
  font-family: "Merriweather", serif;
  --key-color: #5a9345;
  --key-adjacent: #346f62;
  --key-secondary: #f2955c;
  --background-color: #f1f5f4;
  --key-gray: #222222;
  --font-gray: #333333;
  --cards-background: rgb(248, 248, 248);
  --gradient-key: linear-gradient(
    24deg,
    rgba(53, 92, 38, 1) 0%,
    rgba(106, 179, 80, 1) 100%
  );
}

body {
  font-size: 1.8rem;
  color: var(--font-gray);
  overflow-x: hidden;
  box-sizing: border-box;
}

h1 {
  font-size: 2.8rem;
  color: var(--font-gray);
}

h2 {
  font-size: 2.2rem;
  color: var(--font-gray);
}

h3 {
  font-size: 2rem;
  color: var(--font-gray);
}

p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.1rem;
  padding: 1.6rem;
  color: var(--font-gray);
}

/**************************************** Section title Styling ***************************************** */
.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title + div {
  margin-top: 3rem;
}

.section-title h1 {
  font-size: 4rem;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--key-color);
  text-align: center;
}

.section-title h2 {
  margin-top: 0.5rem;
  font-weight: 400;
  text-align: center;
}

main {
  min-height: calc(100vh - 130px);
}
@media only screen and (max-width: 768px) {
  main {
    min-height: calc(100vh - 185px);
  }
}
@media only screen and (max-width: 540px) {
  .section-title h1 {
    font-size: 3.6rem;
  }
}
/***************************************************/

/*********** Scroll Up Button Styling ************ */
.scroll-up-container > svg {
  background-color: rgba(34, 34, 34, 0.678);
  background-image: linear-gradient(
      25deg,
      transparent 65%,
      #5a93454b,
      transparent 70%
    ),
    linear-gradient(-25deg, transparent 65%, #5a93454b, transparent 70%);
  background-size: 50px 12.5px;
  fill: var(--key-color) !important;
  border-radius: 10px;
}

.scroll-up-transition {
  right: 20px;
}

@media only screen and (max-width: 768px) {
  .scroll-up-container {
    bottom: 120px !important;
  }
}
